<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="aulaentity" 
			 connectionString="Data Source=localhost; Initial Catalog=aulaentity; User ID=aulaentity; password=senha_1234;language=Portuguese" 
			 providerName="SqlClient"/>
	</connectionStrings>
</configuration>